/* Variables
  ========================================================================== */

:root {
  /* Horizontal and vertical hierarchy */
  --spacing: 1.5rem;
  /* Grid default gutter */
  --grid-gutter: 3rem;

  /* Typography */
  --font-family--primary: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto , "helvetica neue" , Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  --font-weight--primary-regular: 400;
  --font-weight--primary-bold: 700;

  /* Colors */
  --color--body: #12181f;
  --color--body-alt: #c2c3c5;
  --color--body-background: #ffffff;

  --color--primary: #297cfb;
  --color--secondary: #78708e;
  --color--tertiary: #f4f5f7;
  --color--error: #ff3950;
}
